[submodule "Homework/HW2"]
	path = Homework/HW2
	url = https://github.com/cs110-24s/homework-2-idnrrrrrrso
[submodule "Homework/HW3"]
	path = Homework/HW3
	url = https://github.com/cs110-24s/homework-3-idnrrrrrrso
